:root {
    --verdebk: #ffb8a7;
}


body {
    background-color: var(--verdebk);
}

img {
   width: 20%;
}

header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff967c;
}

h3 {
color:#bd2600;
text-decoration: #ffb8a7;
}

.site {
    display: flex;
}

div {
    text-align: center;
}

img-intro {
    width: 20%;
    padding-left: 40px;

}
.equipe{
    display: block;
    text-align: center;
}

.integrantes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.foto-integrantes{
    width: 40%;
}

footer{
    background-color: #ff967c;
    color: black;
}

