:root {
    --verdebk: #d9f0ff;
}


body {
    background-color: var(--verdebk);
}

img {
   width: 20%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
}
