:root {
    --verdebk: #ffb8a7;
}


body {
    background-color: var(--verdebk);
}

img {
   width: 20%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff967c;
}

section {
    display: flex;
}

image {
    width: 20%;

}

.foto integrantes{
    display: grid;
    grid-template-columns: 33% 33% 33% 33%;
}

.foto integrantes{
    width: 40%;
}

footer{
    background-color: #ff967c;
    color: black;
}